<!DOCTYPE html>
<html>
<head>
<title>Esports</title>
<meta name='discription' content="esports">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<!-- Navigation  Bar-->
<%- include('partials/nav.ejs'); -%>
<!-- Navigation  Bar-->

<main>
    <img src="/assets/pics/logo.png" alt="gaming">
    <div class='description'>
    <h1>About Digital Tournaments</h1>
    <p>
        We host the best online tournaments in esports. Tournaments include many games like Dota 2, Counter-Strike, Fortnite, League of Legends, StarCraft II, and more.
        Que up with your friends to win the tournament or attend the tournament to connect with other people while spectating the games. <br><br>
        Make new friends by playing games with people you never met before. Sign up for avaliable spots at the connection seciton. <br><br> 
        
    </p>
    </div>
</main>

<!-- Footer Navigation  Bar-->
<%- include('partials/foot.ejs'); -%>
</body>
</html>