
<footer>
    <div class='nav'>
        <ul>
            <li><div class='copy'>&#169; Digital Tournaments</div></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </div>
</footer>
